{{ {
  "output_dir": systemd_backup_jobs_output_dir,
  "output_group": systemd_backup_jobs_output_group,
  "textfile_dir": systemd_backup_jobs_textfile_dir,
  "min_free_ratio": systemd_backup_jobs_min_free_ratio,
  "state_dir": systemd_backup_jobs_state_dir
} | to_nice_json }}
